<a href="https://colab.research.google.com/github/suvajitroy60/Pandas-handling-CSVs/blob/main/Snippets_Importing_libraries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing a library handling CSV

To import a library that's not in Colaboratory by default, you can use `!pip install` or `!apt-get install`.

In [ ]:
!pip install pandas as pd

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd

# Replace with the raw link to your CSV file on GitHub
github_csv_url = 'https://raw.githubusercontent.com/suvajitroy60/Pandas-handling-CSVs/refs/heads/main/warmup-data/coffee.csv'

coffee = pd.read_csv(github_csv_url)

# Display the first few rows to verify
print(" Coffee Shop :")
print(coffee.head())

 Coffee Shop :
         Item Category  Price  In_Stock
0    Espresso    Drink   3.50      True
1       Latte    Drink   4.00      True
2  Cappuccino    Drink   4.25      True
3   Croissant   Pastry   2.50      True
4      Muffin   Pastry   2.75     False

# Create a sample DataFrame

In [ ]:
data = {
    'Day': ['Monday', 'Monday', 'Tuesday', 'Tuesday', 'Wednesday', 'Wednesday',
            'Thursday', 'Thursday', 'Friday', 'Friday', 'Saturday', 'Saturday',
            'Sunday', 'Sunday'],
    'Coffee Type': ['Espresso', 'Latte', 'Espresso', 'Latte', 'Espresso', 'Latte',
                    'Espresso', 'Latte', 'Espresso', 'Latte', 'Espresso', 'Latte',
                    'Espresso', 'Latte'],
    'Price': [25, 15, 30, 20, 35, 25, 40, 30, 45, 35, 45, 35, 45, 35]
}

df = pd.DataFrame(data)
print(df)

df.describe()

          Day Coffee Type  Price
0      Monday    Espresso     25
1      Monday       Latte     15
2     Tuesday    Espresso     30
3     Tuesday       Latte     20
4   Wednesday    Espresso     35
5   Wednesday       Latte     25
6    Thursday    Espresso     40
7    Thursday       Latte     30
8      Friday    Espresso     45
9      Friday       Latte     35
10   Saturday    Espresso     45
11   Saturday       Latte     35
12     Sunday    Espresso     45
13     Sunday       Latte     35

           Price
count  14.000000
mean   32.857143
std     9.346798
min    15.000000
25%    26.250000
50%    35.000000
75%    38.750000
max    45.000000

In [ ]:
bios = pd.read_csv('https://raw.githubusercontent.com/suvajitroy60/Pandas-handling-CSVs/refs/heads/main/data/bios.csv')
results = pd.read_csv('https://raw.githubusercontent.com/suvajitroy60/Pandas-handling-CSVs/refs/heads/main/data/results.csv')

# Display the DataFrame

In [ ]:
print("Original DataFrame:")
print(df)

Original DataFrame:
          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

# --- Accessing Data ---

# Using .loc to access rows by label

print("\nAccessing row with index 1 using .loc:")
print(coffee.loc[1])

# Applying a function to a column

In [ ]:
print("\nAccessing row at index 2 using .iloc:")
print(coffee.iloc[2])

Accessing row at index 2 using .iloc:
Day             Tuesday
Coffee Type    Espresso
Units Sold           30
Name: 2, dtype: object

In [ ]:
print("\nAccessing value at row label 0 and column 'Price' using .at:")
print(coffee.at[0, 'Price'])

Accessing value at row label 0 and column 'Price' using .at:
3.5

In [ ]:
print("\nAccessing value at row index 3 and column index 1 (Category) using .iloc:")
print(coffee.iloc[3, 1])

Accessing value at row index 3 and column index 1 (Category) using .iloc:
Pastry

NumPy array first. However, for the operation of checking for substring presence, pandas .str.contains() is the recommended approach when working with DataFrames.
---
Sources
[https://numpy.org/doc/1.25/reference/routines.char.html](https://numpy.org/doc/1.25/reference/routines.char.html)
---

In [ ]:
print("\nConverting 'Item' names to lowercase:")
coffee['Item_lower'] = coffee['Item'].str.lower()
print(coffee)

Checking if 'col2' contains the letter 'A':
   col1 col2  col3  col1_squared col2_lower  col2_contains_A
0     1    A  10.1             1          a             True
1     2    B  11.2             4          b            False
2     3    C  12.3             9          c            False
3     4    D  13.4            16          d            False
4     5    E   NaN            25          e            False

In [ ]:
print("\nChecking if 'Category' contains the substring 'Dr':")
coffee['Is_Drink_Category'] = coffee['Category'].str.contains('Dr')
print(coffee)

In [ ]:
print("\nSelecting a single column ('Price'):")
print(coffee['Price'])

In [ ]:
print("\nSelecting multiple columns ('Item' and 'Price'):")
print(coffee[['Item', 'Price']])

# Filtering Values

In [ ]:
print("\nFiltering rows where 'Price' is greater than 4.00:")
print(coffee[coffee['Price'] > 4.00])

In [ ]:
print("\nFiltering rows where 'Category' is 'Drink' AND 'In_Stock' is True:")
print(coffee[(coffee['Category'] == 'Drink') & (coffee['In_Stock'] == True)])

Filtering rows where 'Category' is 'Drink' AND 'In_Stock' is True:
         Item Category  Price  In_Stock
0    Espresso    Drink   3.50      True
1       Latte    Drink   4.00      True
2  Cappuccino    Drink   4.25      True

# Null Remove

In [ ]:
print("\nDataFrame after dropping rows with null values:")
print(coffee.dropna())

DataFrame after dropping rows with null values:
         Item Category  Price  In_Stock
0    Espresso    Drink   3.50      True
1       Latte    Drink   4.00      True
2  Cappuccino    Drink   4.25      True
3   Croissant   Pastry   2.50      True
4      Muffin   Pastry   2.75     False
5    Sandwich     Food   5.00      True
6       Salad     Food   6.00      True

In [ ]:
print("\nDataFrame after filling null values with 0 (e.g., for missing stock counts):")
print(coffee.fillna(0))

DataFrame after filling null values with 0 (e.g., for missing stock counts):
         Item Category  Price  In_Stock
0    Espresso    Drink   3.50      True
1       Latte    Drink   4.00      True
2  Cappuccino    Drink   4.25      True
3   Croissant   Pastry   2.50      True
4      Muffin   Pastry   2.75     False
5    Sandwich     Food   5.00      True
6       Salad     Food   6.00      True

In [ ]:
print("\nDescriptive statistics for numerical columns:")
print(coffee.describe())

Descriptive statistics for numerical columns:
       Units Sold
count   14.000000
mean    32.857143
std      9.346798
min     15.000000
25%     26.250000
50%     35.000000
75%     38.750000
max     45.000000

In [ ]:
print("\nGrouping by 'Category' and calculating the average 'Price':")
print(coffee.groupby('Category')['Price'].mean())

Grouping by 'Category' and calculating the average 'Price':
Category
Drink     3.916667
Food      5.500000
Pastry    2.625000
Name: Price, dtype: float64

In [ ]:
print("\nSorting by 'Price' in ascending order:")
print(coffee.sort_values(by='Price'))

Sorting by 'Price' in ascending order:
         Item Category  Price  In_Stock
3   Croissant   Pastry   2.50      True
4      Muffin   Pastry   2.75     False
0    Espresso    Drink   3.50      True
1       Latte    Drink   4.00      True
2  Cappuccino    Drink   4.25      True
5    Sandwich     Food   5.00      True
6       Salad     Food   6.00      True

In [ ]:
print(coffee.groupby ('Category')['Price'].mean())

Category
Drink     3.916667
Food      5.500000
Pastry    2.625000
Name: Price, dtype: float64

In [ ]:
print("\nSorting by 'In_Stock' (False first, then True):")
print(coffee.sort_values(by='In_Stock'))

Sorting by 'In_Stock' (False first, then True):
         Item Category  Price  In_Stock
4      Muffin   Pastry   2.75     False
0    Espresso    Drink   3.50      True
1       Latte    Drink   4.00      True
2  Cappuccino    Drink   4.25      True
3   Croissant   Pastry   2.50      True
5    Sandwich     Food   5.00      True
6       Salad     Food   6.00      True